.site-main {
}

@supports (grid-area: auto) {
    @media screen and (min-width: $query__medium) {

        .site {
            display: grid;
            grid-template-columns: 1fr minmax(1fr, auto);
            grid-template-areas:
                "header header"
                "banner banner"
                "main main"
                "footer footer";
        }

        .content-banner {
            grid-area: banner;
        }

        #header-grid {
            display: grid;
            grid-template-columns: 2fr 6fr;
            grid-template-areas: "logo nav";
            grid-column-gap: 1em;
        }

        .site-branding {
            grid-area: logo;
        }

        .site-header-links {
            grid-area: nav;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 2em;
            grid-template-areas: 
                "secnav search"
                "mainnav mainnav";
        }

        .site-link-header {
            grid-area: secnav;
            align-self: center;
        }

        .site-search-header {
            grid-area: search;
            align-self: center;
        }

        .site-navigation-header {
            grid-area: mainnav;
            align-self: end;
        }

        .logo-container {
            grid-row: 1 / 2;
            display: grid;
        }

        .site-header {
            grid-area: header;
        }

        .site-main {
            grid-area: main;
        }

        .widget-area {
            grid-area: sidebar;
        }

        .site-footer {
            grid-area: footer;
        }

    }
    @media screen and (min-width: $query__wide) { 
        #header-grid {
            grid-template-columns: 300px auto;
        }
    }
}
