input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.wpcf7 {
	label {
		color: $color_black;
		font-weight: bold;
		font-size: 0.9em;
	}
	input[type=text], input[type=email], select {
		padding: 0.8em;
		border-radius: 0;
		border: $color_grey 1px solid;
		width: 100%;
		margin-bottom: 0.5em;
		font-size: 1em;
		color: $color_grey;

		&:focus {
			font-style: normal;
			color: darken($color_grey, 30%);
		}

	}
	
	input[type=submit].btn {
		font-size: 1.1em;
		background: #e60042;
		background: -moz-linear-gradient(top, #e60042 0%, #b90236 100%);
		background: -webkit-linear-gradient(top, #e60042 0%,#b90236 100%);
		background: linear-gradient(to bottom, #e60042 0%,#b90236 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60042', endColorstr='#b90236',GradientType=0 );
	}



	div.wpcf7-response-output {
		padding: 1em;
		text-align: center;
		color: $color_white_back;
		margin: 0;
	}

	div.wpcf7-mail-sent-ok {
		background-color: rgb(31, 168, 31);
		border: none;
	}
	
	div.wpcf7-mail-sent-ng, div.wpcf7-spam-blocked, div.wpcf7-validation-errors {
		background-color: rgb(241, 50, 50);
		border: none;
	}
}