.page-header {
    padding: 1em;
    flex-wrap: wrap;
    align-items: flex-start;

}

.page-title {
    width: 100%;
    margin: 0;
    font-family: $font__meta;
    font-size: 1.6em;
    line-height: 1.3em;
    color: $color__grey_black;
    word-break: break-word;
}

.archive-description {
    font-family: $font__meta;
    font-size: 90%;
}

.archive-view {

    .post,
    .page {
        padding: 1em;
    }
}

.pages-grid-container {
    display: -ms-grid;
    display: -moz-grid;
    display: -o-grid;
    display: grid;

    -ms-grid-template-columns: 1fr;
    -ms-grid-gap: 1em;
    -moz-grid-template-columns: 1fr;
    -moz-grid-gap: 1em;
    -o-grid-template-columns: 1fr;
    -o-grid-gap: 1em;
    -webkit-grid-template-columns: 1fr;
    -webkit-grid-gap: 1em;

    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 0 1.5em;

    article {
        .featured-image {
            max-height: 250px;
            overflow: hidden;
            img {
            }
        }
        .entry-content {
            padding: 1em;
            p {
                font-style: initial;
                font-size: 0.8em;
            }
        }
        .entry-title {
            padding: 0;
            margin: 0 -0.5em 0 -0.5em;
            a {
                display: block;
                font-size: 0.8em;
                padding: 0.5em;
                color: $color_white_back;
                background: #e60042;
                background: -moz-linear-gradient(top, #e60042 0%, #b90236 100%);
                background: -webkit-linear-gradient(top, #e60042 0%,#b90236 100%);
                background: linear-gradient(to bottom, #e60042 0%,#b90236 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60042', endColorstr='#b90236',GradientType=0 );
                
                &:hover {
                    border: none;
                    background: none;
                    background-color: lighten($color_red, 10%);
                }
            }
        }
    }

}
.site-main {
    max-width: none;
    
    h1, h2, h3, h4, h5, h6, h7,h8, h9 {
        color: $color_red;
    }
    .none-header {
        text-align: center;
    }
}

@supports (grid-area: auto) {

    @media screen and (min-width: $query__medium) {
        .pages-grid-container {
            -ms-grid-template-columns: 1fr 1fr 1fr;
            -moz-grid-template-columns: 1fr 1fr 1fr;
            -o-grid-template-columns: 1fr 1fr 1fr;
            -webkit-grid-template-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            article {
                .entry-title {
                    a {
                        padding: 1em; 
                    }
                }
            }
        }

        .archive-view {

            .site-main {
                max-width: none;
                padding: 2em 0em;
            }

            .post,
            .page {
                background: white;
            }

            .category-featured {
                -ms-grid-column: span 2;
                -moz-grid-column: span 2;
                -o-grid-column: span 2;
                -webkit-grid-column: span 2;
                grid-column: span 2;
            }

            .entry-title {
                word-break: break-word;
                font-size: 2em;
            }

            .featured-image {
                margin: -1em -1em 0;
                width: calc(100% + 2em);
            }
        }
    }
}
