.site-footer {
	position: relative;
	padding-top: 4em;
	padding-bottom: 3em;
	color: #fff;
	background-color: $color_footer_grey;
	text-align: center;
	
	
	.footer-nav {
		ul {
			padding: 0px;
			margin: 0px;
			
			li {
				list-style: none;
				display: inline-block;


				a {
					font-weight: 700;
					color: white;
					text-decoration: none;
					padding: 0px 0.8em;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}
		
	}
	

	.site-info {
		padding-top: 2em;
		font-size: 0.8em;
	}
}

