.site-header {
	background-color: $color_white_back;
	padding: 0px 1em;
}

.site-branding {
	background-color: $color_red;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	display: grid;
	grid-template-rows: 3fr;
}

.logo-container {
	grid-row: 1 / 2;
	display: grid;
	align-items: center;
	border-left: 1px solid $color_red;
	border-right: 1px solid $color_red;
	border-bottom: 1px solid $color_red;
	text-align: center;
	background-color: $color_white_back;
}

.site-description {
	margin: 0px;
	font-size: .8em;
	font-style: bold;
	font-weight: 700;
	color: $color_white_back;
	background-color: $color_red;
	padding: 10px 14px;
	width: 100%;
	text-align: center;
}

/*
Header Menu
*/
@import "header-menu";
